body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 0;
    margin: 0;
}

.column:hover {
    background-color: lightgrey;
}

#container {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    width: auto;
    height: auto;
    box-sizing: border-box;
    border: black 10px solid;
}

.column {
    display: inline-flex;
    flex-direction: column-reverse;
    min-height: 462px;
    min-width: 77px;
    border: black 1px solid;
}

 .red {                           /*specified red and black for classes so that I can assign them in javascript */
    background: red;
    border-radius: 50%;
    border: 1px solid red;
    width: 75px;
    height: 75px;
    background-image: url(./MattDisk.png);
    background-repeat: round;
}

.black {                         /*specified red and black for classes so that I can assign them in javascript */
    background: black;
    border-radius: 50%;
    border: 1px solid black;
    width: 75px;
    height: 75px;
    background-image: url(./DMGDisk.png);
    background-repeat: round
}

#whosTurn {
    display: flex;
    justify-content: center;
    
}